a,
a:focus,
a:hover {
  color: #111111;
}

html,
body {
  height: 100%;
  background-color: #FEFEFE;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #313131;
  font-size: 81.25%;
}

.container {
  max-width: 68em;
}

.header {
  margin-bottom: 2rem;
}

.nav-header .nav-link {
  padding: .12rem;
  color: rgba(0, 0, 0, .6);
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

.nav-header .nav-link:hover {
  border-bottom: 3px solid #1a73e8;
}

.doc-url-link:hover,
.doc-url-link:focus {
  text-decoration: none;
}

.doc-url-link:hover .doc-title,
.doc-url-link:focus .doc-title {
  text-decoration: underline;
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-header .active {
  color: #313131;
}

@media (min-width: 48em) {
  .nav-header {
    float: right;
  }
}

.search-container {
  margin: 2.6rem;
  text-align: left;
}

.search-input-box {
  padding: 0 1.4rem;
  text-align: center;
  width: 100%;
}

#searchOrIndexInput {
  display: inline-block;
  text-align: center;
  max-width: 36em;
}

.doc-box {
  margin: 1.2rem;
}

.doc-item {
  margin: 1.6rem;
}

.doc-title {
  font-size: large;
}

.doc-url {
  color: dimgrey;
}

.doc-title {
  color: #1A0DAB;
}

.doc-url-link, .doc-url, .doc-title, .doc-text, .status-box {
  margin: 0;
}

.doc-url, .doc-title, .doc-text {
  padding: 0.2rem;
}

.status-box {
  padding-top: 0.8rem;
}

.footer {
  color: rgba(21, 20, 20, 0.7);
}
