<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>{{title}}</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <script src="/static/punycode.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
          integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <!--<script src="https://ru.vuejs.org/js/vue.js"></script>-->
  <script type="module" src="/static/main.js"></script>
</head>
<body class="text-center">
<div id="app" class="container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="header mb-auto">
    <div class="inner">
      <nav class="nav nav-header justify-content-center">
        <a class="nav-link" v-bind:class="activeSearchTabClassObject" href="/">Search</a>
        <a class="nav-link" v-bind:class="activeIndexTabClassObject" href="/index">Index</a>
      </nav>
    </div>
  </header>

  <main class="inner search-container" role="main">
    <div class="search-input-box">
      <input id="searchOrIndexInput" class="form-control" type="search"
             :placeholder="searchOrIndexPlaceholderText"
             v-on:keyup.enter="searchOrIndexFromInput"
             v-model="searchOrIndexInput">
      <p class="status-box" v-html="statusBox"></p>
    </div>

    <div class="doc-box">
      <div class="doc-table" v-display="documentTableVisible">
        <div class="doc-item" v-for="document in documents" :key="document.id">
          <a class="doc-url-link" :href="document.url">
            <p class="doc-url" v-text="parseInt(document.id) + ') ' + prepareUrlText(document.url)"></p>
            <h3 class="doc-title" v-text="document.title"></h3>
          </a>
          <p class="doc-text" v-text="document.text+'...'"></p>
        </div>
      </div>
    </div>

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item"
            v-bind:class="pagItemActiveClassObj(page)"
            v-for="page in paginationPages" :key="page">
          <a class="page-link" href=""
             v-text="parseInt(page + 1)"
             v-on:click.prevent="loadPage(page)">
          </a>
        </li>
      </ul>
    </nav>

  </main>

  <footer class="footer mt-auto">
    <div class="inner">
      <p>{{title}} by <a href="https://github.com/ruzzz">Ruslan Zaporojets</a></p>
    </div>
  </footer>

</div>
</body>
</html>
